<div id="allmenus">
  <h1 id="savedMenuTitle">Saved Menus:</h1>
    <ul class="menuList" style="list-style-type: none">
    <% allMenus.forEach((menu) => { %>
      <li style="list-style-type: none">
        <a class="menuList" href="./<%= menu.id %>"><%= menu.name %></a>
      </li>
    <% }) %>
    </ul> 
</div>