<h2>Choose Your Appetizer:</h2>
<form method="POST" action="adulting101/appetizer"></form>
  <p><% appetizer.results.forEach((result) => { %>
    <p id="appTitle"><%= result.title %></p>
    <a id="appURL" href="<%= result.href %>">Click to View Full Recipe</a></p>
    <img id="appPic" src="<%= result.thumbnail %>">
    <button type="Submit">Add to Menu</button> 
  <% }) %>
  </p>  
</form>
