<h2>Choose Your Appetizer:</h2>
<p><% appetizer.results.forEach((result) => { %>
  <p><%= result.title %></p>
  <a href="<%= result.href %>">Click to View Full Recipe</a></p>
  <img src="<%= result.thumbnail %>">
  <form method="POST" action="/adulting101/menu">
    <button type="Submit">Add to Menu</button> 
  </form>

<% }) %>
</p>