<h3>Let's Get Started Making Your Customized Menu!</h3>
<p>You will have the option to select from menu options for appetizers, main dishes, sides and desserts. If you have food or ingredients at home that you would like to be included in these dishes, please list them here.</p>
<form method="POST" action="./createNewMenu">
  <label for="app_ingredients">Appetizer Ingredient Preferences:</label>
  <input type="text" name="app_ingredients">
  <label for="main_ingredients">Main Dish Ingredient Preferences:</label>
  <input type="text" name="main_ingredients">
  <label for="side_ingredients">Side Dish Ingredient Preferences:</label>
  <input type="text" name="side_ingredients">
  <label for="dessert_ingredients">Dessert Ingredient Preferences:</label>
  <input type="text" name="dessert_ingredients">
  <button type="submit">Let's Start Cooking</button>
  <button type="submit">Click here to search without ingredient preferences.</button>
</form>
  