<h1 id="savedRecipeTitle">Favorite Recipes:</h1>
  <ul style="list-style-type: none;">
    <% allFavorites.forEach((favorite) => { %>
      <li class="recipeList" style="list-style-type: none;">
        <a class="recipeList" href="./favorites/<%= favorite.id %>"><%= favorite.name %></a>
      </li>
    <% }) %>
  </ul>
<footer>
  <a href='https://www.freepik.com/free-photos-vectors/background'>Background photo created by freepik - www.freepik.com</a>
</footer>
