<h1>Welcome to Your Menu</h1>
<h4>Appetizer:</h4>
  <a href="./adulting101/newAppetizer">Click to Select an Appetizer</a>
  <p><%= appetizer.appTitle %></p>
  <a href="<%= appetizer.appURL %>">Click to View Recipe</a>
    <img src="<%= appetizer.appPic %>">

<h4>Main Course:</h4>
<a href="/adulting101/newMain">Click to Select a Main Course</a>
