<h1>Welcome to Your Menu</h1>
<div id="chosenAppetizer">
  <h4>Appetizer:</h4>
    <p> <%= appetizer %> </p>
    <a href= "appetizer.appURL">Click to view recipe.</a>
    <img src="appetizer.appPic">
</div>
<div id="chosenMainCourse">
  <h4>Main Course:</h4>
    <p> main </p>
    <a href= "main.mainURL">Click to view recipe.</a>
    <img src="main.mainPic">
</div>
<div id="chosenSide">
  <h4>Side Dish(es):</h4>
    <p> side </p>
    <a href="side.sideURL">Click to view recipe.</a>
    <img src="side.sidePic">
</div>
<div id="chosenDessert">
  <h4>Dessert:</h4>
    <p> dessert </p>
    <a href="dessert.dessertTitle">Click to view recipe.</a>
    <img src="dessert.dessertPic">
</div>

