<h3>Let's Get Started Making Your Customer Menu!</h3>
<p>You will have the option to select from menu options for appetizers, main dishes, sides and desserts. If you have food or ingredients at home that you would like to be included in these dishes, please list them here.</p>
<form method="POST" action="adulting101/new">
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients">
  <button type="submit">Let's Start Cooking</button>
  <button type="submit">Click here to search without ingredient preferences.</button>
</form>
  