<form method="POST" action="adulting101/newSide">
  <label for="side_ingredients">Side Dish Ingredient Preferences:</label>
  <input type="text" name="side_ingredients">
  <button type="submit">Let's Start Cooking</button>
  <button type="submit">Click here to search without ingredient preferences.</button>
</form>