<form method="POST" action="adulting101/newDessert">
  <label for="dessert_ingredients">Dessert Ingredient Preferences:</label>
  <input type="text" name="dessert_ingredients">
  <button type="submit">Let's Start Cooking</button>
  <button type="submit">Click here to search without ingredient preferences.</button>
</form>