<form method="POST" action="./newMain">
  <label for="main_ingredients">Main Dish Ingredient Preferences:</label>
  <input type="text" name="main_ingredients">
  <button type="submit">Let's Start Cooking</button>
  <button type="submit">Click here to search without ingredient preferences.</button>
</form>