<h1 id="indexWelcome">Welcome to Adulting 101: Dinner Party Edition</h1>
<div class="row">
  <div class="col">
    <h4 id="indexDetails">Having a dinner party and don't know what to cook?</h4>
  </div>
</div>
<div class="row">
<div class="col">
  <h4 id="indexMoreDetails">WELCOME TO ADULTING.</h4>
</div>
</div>
<div class="row">
<div class="col">
  <p id="indexDetails2">We will provide you with a full menu (appetizers, mains, sides & dessert!). Search for recipes with ingredients you have at home, or let us design a menu for you.</p>
</div>
</div>
<div class="row">
  <div class="col">
    <h3 id="indexDirections">Click "Register" below to create an account & begin planning!</h3>
  </div> 
</div>
<div class="row">
  <div class="col">
    <a id="register" href="/auth/register">Register</h3>
  </div>
</div> 
<footer class = "row">
  <a class="footer" href='https://www.freepik.com/free-photos-vectors/background'>Background photo created by pvproductions - www.freepik.com</a>
</footer>