<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adulting 101: Dinner Party Edition</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&family=Nunito&family=Quicksand:wght@300&display=swap" rel="stylesheet">
  </head>
  <% if (typeof bodyId !== 'undefined') { %>
    <body class="backgroundImage" id="<%= bodyId %>">
  <% } else { %>=
    <body>
  <% } %>
    <header>
      <nav>
        <div class="row" id = "navbar">
        <% if (currentUser) { %>
          <div class="col-2">
            <p id="titleTab">Adulting 101</p>
          </div>
          <div class="col-2">
            <a id="profileTab" href='/profile'>Profile</a>
          </div>
          <div class="col-2">
            <a id="newMenuTab" href='/adulting101/createNewMenu'>New Menu</a>
          </div>
          <div class="col-2">
            <a id="allMenusTab" href='/adulting101/allmenus'>Saved Menus</a>
          </div>
          <div class="col-2">
            <a id="favoritesTab" href='/adulting101/favorites'>Saved Recipes</a>
          </div>
          <div class="col">
            <a id="logoutTab" href='/auth/logout'>Logout</a>
          </div>
        <% } else { %>
          <a href='/auth/register'>Register</a>
          <a href='/auth/login'>Login</a>
        <% } %>
      </div>
      </nav>
    </header>
    <div class="container">
      <%- include('./partials/alerts') %>
      <%- body %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>