<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Adulting 101: Dinner Party Edition</title>
  </head>
  <body>
    <header>
      <nav>
        <% if (currentUser) { %>
          <a href='/auth/logout'>Logout</a>
          <a href='/profile'>Profile</a>
        <% } else { %>
          <a href='/auth/register'>Register</a>
          <a href='/auth/login'>Login</a>
          <a href='/adulting101/new'>Make a New Menu</a>
        <% } %>
      </nav>
    </header>
    <div class="container">
      <%- include('./partials/alerts') %>
      <%- body %>
    </div>
    
  </body>
</html>