<div class="row align-items-start">
  <div class="col">
    <h1 class="title">Adulting101: Dinner Party Edition</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <h4 id="welcome">Welcome <%= currentUser.name %>!</h4>
  </div>
</div>
<div class="row">
    <div class="col">
      <h4 id="moreDetails">Having a dinner party and don't know what to cook?</h4>
    </div>
</div>
<div class="row">
  <div class="col">
    <h4 id="evenMoreDetails">WELCOME TO ADULTING.</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <p id="details2">We will provide you with a full menu (appetizers, mains, sides & dessert!). Search for recipes with ingredients you have at home, or let us design a menu for you.</p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3 id="directions">Click "Make New Menu" below to begin choosing items for your menu.</h3>
  </div>  
</div>
<div class="row">
    <a id=newMenuButton href="/adulting101/createNewMenu">Make New Menu</a>
</div>
<footer class = "row">
  <a class="footer" href='https://www.freepik.com/free-photos-vectors/food'>Food photo created by freepik - www.freepik.com</a>
</footer>
  