body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url("/images/profileBackground.jpg");
  background-size: cover;
  align-content: space-between;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
}

#navbar {
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  background-color: #b6d0d6;
  color: white;
  width: 100%
}

#titleTab {
  color: white;
}

#profileTab {
  color: white;
}

#newMenuTab {
  color: white;
}

#allMenusTab {
  color: white;
}

#favoritesTab {
  color: white; 
}

#logoutTab {
  color: white;
  align-self: flex-end;
}


#indexWelcome {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#indexDetails {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 30px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#indexMoreDetails {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#indexDetails2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#indexDirections {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#register {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-left: 60%;
  text-align: center;
}

#profile {
  background-image: url("/images/profileBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-content: space-between;
  height: 100%;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 25%;
  right: 25%;
}

.footer {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#welcome {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#moreDetails {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 30px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#evenMoreDetails {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#details2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: white;
  margin-left: 40%;
  text-align: center;
}

#directions {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 40%;
    text-align: center;
  }

#newMenuButton {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 40%;
  text-align: center;
  justify-content: space-evenly;
}

#createNewMenu {
  background-image: url("/images/createNewMenuBackground.jpg");
  background-size: cover;
  align-content: space-between;
  height: 100%;
  width: 100%;
}

#newMenuTitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-align: center;
  margin-right: 33%;
}

#newMenuDirections {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-right: 33%;
}

#newMenuForm {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 30%;
}

.formButton {
  background-color: #b6d0d6;
  color: white;
  font-family: 'Quicksand', sans-serif;
  padding: 8px 18px;
  margin-top: 5px;
  font-size: 20px;
  display: flex;
}

#choose {
  background-image: url("/images/chooseBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  align-content: space-between;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.chooseTitles {
  color: white;
}

.recipeTitle {
  color:#b6d0d6;
  font-size: 18px;
}

.modalButton {
  background-color: #b6d0d6;
  color: white;
  font-family: 'Quicksand', sans-serif;
  padding: 4px 8px;
  margin-top: 5px;
  font-size: 12px;
  display: flex;
}
.modalWindow {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: #fefefe;
  margin: 70px auto 0; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
}

.closeModal {
  color: #b6d0d6;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#step5 {
  text-align: center;
}

.namingDirections {
  color: #b6d0d6;
  font-size: 16px;
}


h1 {
  font-family: 'Dancing Script', cursive;
}

#menu {
  background-image: url("/images/menuAndRecipeDetailsBackground.jpg");
  background-size: cover;
  align-content: space-between;
  height: 100%;
  width: 100%;
  align-content: space-between;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.menuDisplayTitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-align: center;
}

.itemTitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #b6d0d6;
  text-align: center;
}

.courseTitle {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.otherButton {
  background-color: #b6d0d6;
  color: white;
  font-family: 'Quicksand', sans-serif;
  padding: 6px 14px;
  margin-top: 5px;
  font-size: 18px;
}

#nameChange {
  margin-bottom: 20px;
}

#allMenus {
  background-image: url("/images/favoritesAndAllMenusBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-content: space-between;
  height: 100%;
  width: 100%;
}

#savedMenuTitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-align: center;
  margin-left: 50%;
}

.menuList {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-left: 50%;
}

#favorites {
  background-image: url("/images/favoritesAndAllMenusBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-content: space-between;
  height: 100%;
  width: 100%;
}
#savedRecipeTitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: white;
  text-align: center;
  margin-left: 50%;
}

#recipeDetails {
  background-image: url("/images/menuAndRecipeDetailsBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-content: space-between;
  height: 100%;
  width: 100%;
}
